# DATA MANIPULATION FOR MODELLING

SANTIAGO REYES CASTILLO  
6 DE FEBRERO, 2025  
745826

In [32]:
import pandas as pd
import statsmodels.api as sm
import numpy as np

In [184]:
data = pd.read_csv("boston.csv").dropna()

In [186]:
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [188]:
data.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000
mean,1.420825,12.721239,10.304889,0.077434,0.540816,6.343538,65.557965,4.043570,7.823009,377.442478,18.247124,369.826504,11.441881,23.750442
std,2.495894,24.326032,6.797103,0.267574,0.113816,0.666808,28.127025,2.090492,7.543494,151.327573,2.200064,68.554439,6.156437,8.808602
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,6.300000
25%,0.069875,0.000000,4.930000,0.000000,0.447000,5.926750,40.950000,2.354750,4.000000,276.750000,16.800000,377.717500,6.587500,18.500000
50%,0.191030,0.000000,8.140000,0.000000,0.519000,6.229000,71.800000,3.550400,5.000000,307.000000,18.600000,392.080000,10.250000,21.950000
75%,1.211460,20.000000,18.100000,0.000000,0.605000,6.635000,91.625000,5.401100,7.000000,411.000000,20.200000,396.157500,15.105000,26.600000
max,9.966540,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,34.410000,50.000000

In [69]:
data_filtered = data.dropna()

In [77]:
#Elegimos la columna de y y establecemos n
y = np.reshape(data_filtered['MEDV'], [-1,1])
n = len(y)

In [110]:
#Obtenemos todas las columnas del dataframe menos y
data_filtered = data.dropna()
data_filtered = data_filtered.drop(columns = ['AGE', 'INDUS', 'CRIM'])
x_columns = data_filtered.iloc[:,:-1].values

In [112]:
#Generamos un vector de unos para StatsModels
ones = np.ones([n, 1])

In [114]:
#Concatenamos las columnas de 1 y de x 
X = np.hstack((ones, x_columns))

In [116]:
#generamos el modelo
ols = sm.OLS(y,X)
ols_results = ols.fit()
ols_results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.739
Model:                            OLS   Adj. R-squared:                  0.733
Method:                 Least Squares   F-statistic:                     125.1
Date:                Thu, 06 Feb 2025   Prob (F-statistic):          5.61e-122
Time:                        17:03:38   Log-Likelihood:                -1320.5
No. Observations:                 452   AIC:                             2663.
Df Residuals:                     441   BIC:                             2708.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         21.6793      5.381      4.029      0.000      11.104      32.255
x1             0.0363      0.013      2.768      0.006       0.011       0.062
x2             2.5254      0.823      3.069      0.002       0.908       4.142
x3           -12.0975      3.583     -3.377      0.001     -19.139      -5.056
x4             4.9887      0.437     11.412      0.000       4.130       5.848
x5            -1.2719      0.183     -6.941      0.000      -1.632      -0.912
x6             0.2223      0.061      3.621      0.000       0.102       0.343
x7            -0.0101      0.003     -3.104      0.002      -0.017      -0.004
x8            -0.8204      0.125     -6.543      0.000      -1.067      -0.574
x9             0.0126      0.003      3.633      0.000       0.006       0.019
x10           -0.5378      0.052    -10.415      0.000      -0.639      -0.436
==============================================================================
Omnibus:                      191.541   Durbin-Watson:                   1.188
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1335.191
Skew:                           1.674   Prob(JB):                    1.17e-290
Kurtosis:                      10.726   Cond. No.                     1.48e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.48e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [120]:
data_filtered.mean()

ZN          12.721239
CHAS         0.077434
NOX          0.540816
RM           6.343538
DIS          4.043570
RAD          7.823009
TAX        377.442478
PTRATIO     18.247124
B          369.826504
LSTAT       11.441881
MEDV        23.750442
dtype: float64

In [206]:
columnas = data
columnas = columnas.drop(columns = ['MEDV'])

In [208]:
for i in range(len(columnas.columns)):
    minimum = columnas.iloc[:,i].min()
    data_min = columnas.iloc[:,i] - minimum
    maximum = data_min.max()
    data_minimax = data_min / maximum
    columnas.iloc[:, i] = data_minimax

C:\Users\reyes\AppData\Local\Temp\ipykernel_5088\1883610904.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      0.000000
1      0.043478
2      0.043478
3      0.086957
4      0.086957
         ...
501    0.000000
502    0.000000
503    0.000000
504    0.000000
505    0.000000
Name: RAD, Length: 452, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  columnas.iloc[:, i] = data_minimax

In [210]:
columnas.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000
mean,0.142015,0.127212,0.360883,0.077434,0.320608,0.533155,0.645293,0.264981,0.296653,0.363440,0.600758,0.931733,0.297181
std,0.250586,0.243260,0.249161,0.267574,0.234189,0.127765,0.289671,0.190098,0.327978,0.288793,0.234049,0.172864,0.188385
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.006381,0.000000,0.163856,0.000000,0.127572,0.453296,0.391864,0.111409,0.130435,0.171279,0.446809,0.951630,0.148638
50%,0.018545,0.000000,0.281525,0.000000,0.275720,0.511209,0.709578,0.220135,0.173913,0.229008,0.638298,0.987846,0.260710
75%,0.120995,0.200000,0.646628,0.000000,0.452675,0.589002,0.913749,0.388428,0.260870,0.427481,0.808511,0.998128,0.409272
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000